* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none !important
}

 a:active {
   text-decoration: none !important
}

::-webkit-scrollbar-track
{
  background-color: #CCCCCC;
}

::-webkit-scrollbargit
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #e426bb;
  background-image: -webkit-linear-gradient(90deg,transparent,rgba(28, 26, 139, 0.4) 50%,transparent,transparent)
}

/* width of scrollbar */
::-webkit-scrollbar {
  width: 1rem;
}

/* --Preloader-- */
.preloader {
  align-items: center;
  background: rgb(255, 255, 255);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 1.3s linear;
  width: 100%;
  z-index: 9999;
}

/* -- Top Navbar -- */
#top-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 9998 !important;
  transition: top 1.3s;
}

.desktop-top-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 4 !important;
  backdrop-filter: blur(10px)saturate(100%);
  -webkit-backdrop-filter: blur(12px) saturate(50%);
  background: rgba(255,0,150,0.3);
}

.logo-container {
  overflow: hidden;
  height: 60px;
  width: 250px;
  border-radius: 30px;
  display: flex;
  align-content: center;
  background-color: white;
  background-position: -3px;
  background-repeat: no-repeat;
  background-size: 100px;
}

.mobile-top-navbar {
  display: none;
}

.desktop-top-navbar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: -10px;
  padding-left: -10px;
  margin-bottom: 0px;
  width: 80%;
}

.desktop-top-navbar > ul > li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  text-decoration: none;
}

.desktop-top-navbar > ul > li:nth-child(3){
  width: 250px;
}

.desktop-top-navbar ul li a {
  display: flex;
  width: 100%;
  height:100%;
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
  align-items: center;
  justify-content: center;
  transition: 1.3s;
}
.desktop-top-navbar ul li a:hover {
  color: #000;
  background-image: linear-gradient(-90deg,#f67c92,#f0556f);
}

/* -- Side Navbar -- */
#hamburger{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  margin: 2px;
}

#sideNav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: #606060;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 90px;
}

#main {
  transition: transform 1s;
}

nav ul li {
  list-style: none;
  margin: 10px 20px;
  display: inline-block;
  opacity: 0.8;
}
nav ul li a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  display: block;
  transition: 1.3s;
  white-space: nowrap;
}
nav ul li a:hover {
  color: #000;
  text-decoration:none;
  transition: 0.7s all;
  background-image: linear-gradient(-90deg,#f67c92,#f0556f);
}

@media screen and (max-height: 450px) {
  #sideNav {padding-top: 90px;}
  #sideNav a {font-size: 18px;}
}
nav ul a {
  text-decoration: none;
  color: white;
}

#menuBtn {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 35px;
  top: 17px;
  z-index: 9999 !important;
  cursor: pointer;
  opacity: 1;
  display:flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,0,150,0.3);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  color: white;
  font-size: 2rem;
}

body.dark-mode {
  background-color: #183d5d;
  color : white;
}

body.dark-mode .desktop-top-navbar {
  background: rgba(181,181,181,0.4);
}

body.dark-mode .mobile-top-navbar {
  background: rgba(181,181,181,0.4);
}

body.dark-mode #menuBtn {
  background: rgba(181,181,181,0.4);
}

body.dark-mode .c-logo {
  background: rgb(236,236,236);
  background: linear-gradient(180deg, rgba(236,236,236,1) 0%, rgba(64,109,189,1) 100%);
}

body.light-mode {
  background-color: #ffffff;
  color:black;
}

.mode-div {
  font-size: 2rem;
  background-color: transparent;
  display: flex;
  z-index: 9999;
  font-style: oblique;
  width: 150px;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 50px;
}

/* toggle */
input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  width: 50px;
  height: 25px;
  background: grey;
  border-radius: 100px;
  transform: translateY(-50%);
  margin-top: 30px;
}

label:after {
  content: '';
  position: absolute;
  left: 0px;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 100%;
  transition: 1s;
  z-index: 9999;
}

input:checked + label {
  background: #f67c92;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.main-hero-section {
  height: 100vh;
  min-height: 520px;
}

.main-hero-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-hero-img {
  width: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.main-hero-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  width: 90%;
  padding: 20px;
}

.text-container h1{
  font-family: 'Libre Baskerville', serif;
}

.text-container button{
  background-color: #0011ab;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.text-container button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.main-hero-img img{
  width: 100%;
  height: auto;
  border-radius: 20%;
  border: 15px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.c-logo {
  width: 50%;
  background: rgb(255,161,202);
  background: linear-gradient(180deg, rgba(255,161,202,1) 0%, rgba(119,181,255,1) 100%);
  box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  font-size: 3.16667rem;
  line-height: 1.26316;
  text-decoration: none;
  font-weight: 300;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(500px);
  transform: perspective(500px);
  position: relative;
}
.c-logo:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #333;
  box-shadow: 0 20px 70px -10px rgba(51, 51, 51, 0.7), 0 50px 100px 0 rgba(51, 51, 51, 0.2);
  z-index: -1;
  -webkit-transform: translateZ(-50px);
  transform: translateZ(-50px);
  -webkit-transition: .3s;
  transition: .3s;
}
.c-logo > span {
  display: block;
  -webkit-transform: translateZ(00px) scale(0.7);
  transform: translateZ(90px) scale(0.7);
}
.c-logo:hover:after {
  -webkit-transform: translateZ(-100px);
  transform: translateZ(-100px);
  opacity: 1;
}
.c-logo .backdrop {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  position: absolute;
  background-image: -webkit-linear-gradient(300deg, #5a00ff 0%, #1fff73 100%, #1fff73 100%);
  background-image: linear-gradient(150deg, #5a00ff 0%, #1fff73 100%, #1fff73 100%);
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
  opacity: 0;
  -webkit-transition: 3s;
  transition: 3s;
}
/* -- Hero Section-- */

.hero-section{
  background: #800080;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc0cb, #da8dda);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc0cb, #d88fd8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.hero-container h1{
  font-size: 6vw;
  margin-bottom: 5vh;

}

.hero-container p{
  width: 50vw;
  font-size: 2.5vw;
  line-height: 1em;
}
.hero-container button{
  padding: 1vh 1.5vh;
  font-size: 14px;
  border: none;
  background-color: gold;
  border-radius: 20px;
}
.hero-container button:hover{
  background-color:white;
  border-color: gold;
  transition-duration: 1s;
  animation-direction: alternate;
}



/* --Section header -- */
#header {
  height: 100vh;
}

/* Carousel base class */
#header div.container-fluid{
  padding: 0;
  height: 100vh;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100vh;
  background-color: #ffa1b8;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  min-width: 100%;
}

.header-text {
  max-width: 350px;
}

h1 {
  font-size: 34px;
}
.square {
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #f67c92;
  margin: 15px 0;
}
.common-btn {
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 2px solid #f67c92;
  font-weight: bold;
  cursor: pointer;
}
.common-btn:hover {
  background-color: #f67c92;
  color: #fff;
}
p {
  font-size: 15px;
  line-height: 18px;
  color: #777777;
}
.header-text button {
  margin-top: 20px;
  margin-bottom: 60px;
}
.line-1 {
  width: 15px;
  height: 15px;
  background: #f67c92;
  display: inline-block;
}
.line-2 {
  width: 80px;
  height: 1px;
  background: #f67c92;
  display: inline-block;
}
.line-3 {
  width: 60px;
  height: 1px;
  background: #f67c92;
  display: inline-block;
}
.line {
  line-height: 8px;
}

/*----Section about----*/

#about,
#offer {
  padding: 150px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about-left-col {
  flex-basis: 50%;
}

.about-left-col img {
  width: 100%;
}
.about-left-col {
  flex-basis: 50%;
}
.about-right-col {
  flex-basis: 50%;
  text-align: right;
}
.about-text {
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
}
.about-text h2 {
  margin: 50px 0 10px;
  font-size: 28px;
  font-style: italic;
}
.about-text h3 {
  font-size: 20px;
  font-style: italic;
  color: #797979;
}

/*----Section features-----*/

#features {
  padding-top: 50px;
  padding-bottom: 50px;
}

.feature-row {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.feature-col {
  flex-basis: 25%;
  text-align: center;
}
.feature-col img {
  width: 100px;
}
.feature-col h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}
.feature-btn {
  margin: 80px auto 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.feature-btn .line {
  text-align: right;
  display: inline-block;
  margin-right: 25px;
}
/*--Section couses--*/

#courses {
  padding: 100px 0;
}
.course-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.course-right-col {
  flex-basis: 50%;
}
.course-right-col img {
  width: 100%;
}
.course-left-col {
  flex-basis: 50%;

}
.course-text {
  max-width: 350px;
}
.course-text button {
  margin: 30px 0;
}
#offer button {
  margin: 30px 0;
}

/*--Section testimonials--*/
.img-testimonials {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#testimonials blockquote::before {
  content: open-quote;
}

#testimonials blockquote::after {
  content: close-quote;
}

#testimonials blockquote {
  font-family: "Verdana";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #808080;
  quotes: "“" "”" "‘" "’";
  border-left: none;
}

#testimonials figcaption {
  position: relative;
}

#testimonials cite {
  color: grey;
}

/*--testimonials Card--*/
.testimonials-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  position: relative;
  height: 100%;
}

.testimonials-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.img-testimonials-card {
  width: 15vw;
  height: 15vw;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: -75px;
}

.quote {
  padding: 20px;
}

#testimonials .swiper-container {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
}

#testimonials .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 33.33%;
  min-width: 200px;
  height: 400px;
}

.container {
  margin-right: 100px;
  margin-left: 100px;
}

@media screen and (max-width: 1000px) {
  .img-testimonials-card {
    margin-top: -7.5vw;
  }
}

/*-- Section Contact --*/

.contact-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.contact-left-col,
.contact-right-col {
  flex-basis: 50%;
}
.contact-right-col img {
  width: 100%;
}
form {
  max-width: 350px;
  margin: 30px 0;
}

form input {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 5px;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  border: 2px solid #fab3c4;
}
.btn-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn-box button {
  flex-basis: 48%;
  padding: 18px 0;
}
#footer {
  background-color: white;
  color: black;
}
hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #f67c92;
}
.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-left-col {
  flex-basis: 50%;
  margin-top: 60px;
}
.footer-right-col {
  flex-basis: 35%;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.link-title h4 {
  color: #fab3c4;
  margin-bottom: 20px;
}
.link-title small {
  font-size: 13px;
  color: #777777;
}
.footer-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-logo img {
  width: 250px;
}
.footer-logo button {
  padding: 12px 38px;
  margin-top: 20px;
  font-size: 12px;
}
.copyright-text,
.footer-logo {
  flex-basis: 40%;
}

.social-icons {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 30px;
  z-index: 1;
}

.social-icons .fab {
  display: block;
  margin: 0 auto 20px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  color: #f67c92;
}

.social-icons .fab:hover {
  opacity: 0.7;
}

.footer-social .fab{
  color: #f67c92;
}
.footer-social .fab:hover{
  opacity: 0.7;
}
.desktop-view-footer {
  display: block;
  padding-bottom: 30px;
}
.mobile-view-footer {
  display: none;
}

@media only screen and (min-width:450px) and (max-width:770px){
  .logo{
    margin-left: 45%;
  }
}

@media only screen and (max-width: 770px) {
  #menuBtn {
    top: 20px;
  }
  .container {
    margin-right: 50px;
    margin-left: 50px;
  }
  .logo {
    width: 70px;
  }
  .header-text {
    margin-top: 100px;
  }
  h1 {
    font-size: 25px;
  }

  .common-btn {
    padding: 10px 16px;
  }
  .social-icons img {
    width: 14px;
    margin: 15px auto;
  }

  .main-hero-container {
    flex-direction: column;
    text-align: center;
  }

  .main-hero-img {
    width: 100%;
  }

  .main-hero-content {
    width: 100%;
  }

  .hero-container h1{
    font-size: 6.5vw;
  }
  .hero-container p{
    font-size: 4.0vw;
  }
  .about-left-col,
  .about-right-col {
    flex-basis: 100%;
  }
  .about-text {
    margin: 50px 50px 0;
    display: inline-block;
  }
  .about-text h2 {
    font-size: 18px;
  }
  .feature-col {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .course-left-col {
    flex-basis: 100%;
  }
  .course-text {
    margin: 50px 50px 0px;
  }
  .course-right-col {
    flex-basis: 100%;
    margin-top: 70px;
  }

  .contact-left-col {
    flex-basis: 100%;
    margin: 50px 50px 0px;
  }

  .contact-right-col {
    flex-basis: 100%;
  }

  /* --Mobile view testimonials -- */
  .testimonials-column {
    width: 100%;
    display: block;
    margin-bottom: 25%;

  }
  .img-testimonials-card {
    width: 25vw;
    height: 25vw;
    margin-top: -12.5vw;
  }

  #testimonials .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 33.33%;
    min-width: 300px;
    height: 400px;
  }

  /* --Mobile view Navbar -- */
  .desktop-top-navbar {
    display: none;
  }

  .mobile-top-navbar {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 4 !important;
    backdrop-filter: blur(10px)saturate(100%);
    -webkit-backdrop-filter: blur(12px) saturate(50%);
    background: rgba(255,0,150,0.3);
  }

  .logo-mobile {
    overflow: hidden;
    height: 60px;
    width: 200px;
    border-radius: 30px;
    display: flex;
    align-content: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100px;
  }

  .desktop-view-footer {
    display: none;
  }

  .mobile-view-footer {
    display: block;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: #f1f3f5;
    padding-bottom: 30px;
    z-index: 10;
  }

  .full-width {
    display:flex;
    position: relative;
    flex-direction: column;
  }

  .relbtn {
    width:100%;
    position: relative;
    background-color: #f1f3f5;
  }

  .toggleBtn {
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
  }

  .copyright-text small{
    font-size: 13.5px;
  }

  #footer ul {
    width:100%;
    position: relative;
  }

  .footer-line-break {
    width: 100%;
    background-color: grey;
    height: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
    position: relative;
  }

  .footer-social {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .footer-social .fab {
    color: #717171;
  }

  .footer-social .fab:hover {
    opacity: 0.7;
  }
}
