{% extends "main_template.html" %}
{% block title %}EQEquation-content{% endblock %}
{% block content %}
<div style ="padding-top: 200px" >
  <center> <img src="{{url_for('static', filename='images/logo.png')}}">
  </center>
</div>
<section id  = "header">
	<div class ="conatiner1">

				<p  class="a">I help companies scale with soul by coaching executives to lead through integrative alignment.</p>
				<p  class="a">&nbsp;
					</p>
					<p  class="a">I also coach individuals to scale themselves with soul through integrative alignment: <a href="#" target="_blank">luminaries</a>, HNWIs, and anyone with that "okay now what's next?" feeling.<br><a href="#">Learn more about individual coaching here.</a></p>
					<p  class="a">Skip to my bio <a href="#">here</a>.</p>
					<p  class="a">FYI<br>I am in the process of overhauling this website, seeing as it hasn’t been updated in a couple of years. It’s still relevant, however it doesn’t accurately reflect how spicy things have become in and around my niche of coaching. <br>In the meantime, if you want to access a more current frequency of my work, please head to <a href="#" target="_blank">Alchemy of Chaos</a>, a group leadership program I created in spring of 2020.</p>
					
					</div>
        </section>
			
		
              
                    <h1 style="text-align:center;white-space:pre-wrap;">r e i m a g i n e</h1>
                    <h1 style="text-align:center;white-space:pre-wrap;">business as usual</h1>
                  
                
                    <p style="text-align:center;white-space:pre-wrap;" class="">
                     <center> <strong>evolutionary business</strong>
                    </p>
                    <ol style ="list-style-type: decimal">
                       <center> 
                      <li><p class="">evolutionary business is an emergent conversation that seeks to understand business as a developmental force for the individual, relationships, and systems.</p>
                    </li>
                  </center>
                     <center> <li>
                      <p class="" >evolutionary business produces sustainable, exceptional performance through the solidarity of its community + the dignity of each member.</p>
                    </li></center>
                     <center> 
                    <li>
                      <p class="" >an evolutionary business seeks to promote the intelligent pursuit of purpose in all its stakeholders.</p>
                    </li>
                  </center>
                  </ol>
                </center>
                <center>
                  <h1  >
                    <a href="#" target="_blank">evolution</a>
                  </h1>
                </center>
                  <h2 style="text-align:center;white-space:pre-wrap;">coaching and culture for startups and high-growth companies</h2>
                  <center>
                  <p  class="">I am proud to be a Partner at <a href="#" target="_blank">Evolution
                  </a>,a boutique firm out of SoCal. <br>
                  We consult, coach, and invest for and into evolutionary businesses. <br>If you engage me on a corporate level, you also have the opportunity to engage my incredible team of Partners, <br>all of whom have particular zones of genius in offsite facilitation, executive retreats, 360s, culture codes, leadership training, group coaching, strategy planning, and more. </p>
                </center>
                
            
          
<center>
<div class="" >
	<a href="#" class="" target="_blank">Schedule A Consultation</a>

</div>
</center>
      

      <!-- For Galleries -->

      

      <!-- For Albums -->

      


<center>

<h1>the goal</h1>
<h2>
  is to<br> <span class="aqua">cultivate + expand</span>
  <br>self-awareness so that<br>people engage,<br>
  <span span class="aqua">internally + externally.</span>
</h2>
  
<h1>the result</h1>
  
<h2>is
  <br>
  <span class="aqua">alignment + impact.</span>
</h2>
</center>
        
<div class="" >
          
                    <h2 style="text-align:center;white-space:pre-wrap;">What is integrative alignment?
                    </h2>
                    <p style="text-align:center;white-space:pre-wrap;" class="">Integrating all aspects of your life, across silos, to the depths of your own desired human experience, <br>in order to align with your most powerful business presence and expression. <br>There’s a difference between a philosophical understanding of a concept, and actually experiencing that concept within the frame of your life.<br> Coaching in this way cultivates embodiment of knowledge, and inherent trust in that. </p>
                    <h2 style="text-align:center;white-space:pre-wrap;">Why does it matter?
                    </h2>
                    <p style="text-align:center;white-space:pre-wrap;" class="">If the CEO and/or leadership team isn't first aligned with who they are and what they truly want to create with and within their company,<br> the results of organization-wide strategy won't be as impactful.<br >Walking with executives through deep 1:1 coaching work is also how we understand the internal leadership blueprint of the executive so we can externalize <br>that blueprint within the organization, which is expanded to include so much more than strategy, objectives, and EBITDA.<br>
                      <br>We find and ask the questions which reveal where you are and where you’re going, perspective-wise.<br>You’re called forward to mastery, and you achieve new understanding of how your way of being influences everything.&nbsp;
                      <br>We connect the dots between patterns across all areas of your life to illuminate new possibilities.</p>
                      <h2 style="text-align:center;white-space:pre-wrap;">How?
                      </h2>
                      <p style="text-align:center;white-space:pre-wrap;" class="">
                      We give a voice to those raw, essential, life-giving places in you, so that you may know them more consciously, live what they teach you, mine their wisdom, and apply it to your Work.
                    </p>
                    <p style="text-align:center;white-space:pre-wrap;" class="">This coaching process subtly provides a bridge from the seen to the unseen, from the imagined to the experienced. This coaching ignites momentum and stillness, creativity and leadership, exhilaration and groundedness. We identify and act on instinct and inner wisdom.
                    </p>
                    <p style="text-align:center;white-space:pre-wrap;" class="">In business we want absolutes, we want agreement, we want logical practicality. But those things aren’t always what is needed. Sometimes what is needed is exploration through the grappling, because that is the way to expansion, and expansion is the way to meaningful, scintillating influence.&nbsp;
                    </p>
                    <h2 style="text-align:center;white-space:pre-wrap;">Then what?
                    </h2>
                    <p style="text-align:center;white-space:pre-wrap;" class="">Then, we design operational and cultural strategies, training programs, systems, and experiences, tailored to the company's essence. All work is geared towards bridging the gap between individual purpose and organizational purpose. This results in engaged, empowered people working towards the company vision with intrinsically-driven passion.</p>
                    <p style="text-align:center;white-space:pre-wrap;" class="">Fundamentally speaking, I support you in connecting business back to a more compelling view of self and service in order to drive long-term, holistic success.<br>I help you activate around your most profound wisdom to drive personal growth, professional growth, financial growth, and organizational growth.<br>Who are you, and why 
                      are you here, doing what you're doing, being who you're being?<br>I want to know.<br>Most importantly, I want you to know.
                    </p>
                  </div>
               



<center>     

<h2 class ="content-last">
This is about seeing your life more clearly, <br>using the lens of business to find deep alignment,<br> and then getting into action around what matters.</h2>
</center>


{% endblock %}
